<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<META http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	<title>评论列表</title>
	<css file = "__PUBLIC__/Css/common.css" />
	<js file = "__PUBLIC__/Js/jquery-2.2.3.min.js" />
	<js file = "__PUBLIC__/Js/common.js" />
</head>

<body>
	<div class = 'status'>
		<span>评论列表</span>
	</div>

	<table class = 'table'>
		<tr>
			<th>ID</th>
			<th>评论用户</th>
			<th>评论内容</th>
			<th>发布时间</th>
			<th>操作</th>
		</tr>
		<foreach name = 'comments' item = 'v'>
			<tr>
				<td width='50' align = 'center'>{$v.cid}</td>
				<td>{$v.username}</td>
				<td>{$v.content}</td>
				<td>{$v.time|date='Y-m-d H:i',###}</td>
				<td><a href="{:U('Comment/del', array('cid'=>$v['cid']))}" class = 'del'></a></td>
			</tr>
		</foreach>
		<tr>
			<td colspan = '7' align = 'center'>{$page}</td>
		</tr>
	</table>

</body>
</html>
