<include file ="Common:header" />
	<title>微博首页</title>
	<css file = "__PUBLIC__/Uploadify/uploadify.css" />
    <css file = "__PUBLIC__/Css/index.css" />

	<js file = "__PUBLIC__/Uploadify/jquery.uploadify.min.js" />
    <js file = '__PUBLIC__/Js/index.js' />
    <script type="text/javascript">
    	var uploadUrl = "{:U('Common/uploadPic')}";
    	var PUBLIC = "__PUBLIC__";
    	var ROOT = "__ROOT__";
    	var sid = "{:session('uid')}";
    </script>

</header>

<body>
	<!-- 顶部导航栏 -->
	<include file = "Common:nav" />

	<div style = 'height:60px; opcity:10'></div>
	<div class = 'main'>
		<!-- 左侧边栏 -->
		<include file ="Common:left" />
		<!-- 中部 -->
		<div id = 'middle' class = 'fleft'>
			<div class = 'send_wrap'>
				<div class = 'send_title fleft'></div>
				<div class = 'send_prompt fright'>
					<span>你还可以输入<span id = 'send_num'>150</span>个字</span>
				</div>
				<div class = 'send_write'>
					<form action = "{:U('sendweibo')}" method = 'post' name = 'weibo'>
						<textarea sign = 'weibo' name = 'content'></textarea>
						<div class = 'send_tool'>
							<ul class = 'fleft'>
								<li title = '表情'>
									<i class = 'icon icon-phiz phiz' sign = 'weibo' ></i>
								</li>
								<li title = '图片'>
									<i class = 'icon icon-picture'></i>
									<!-- 图片上传框 -->
									<div id = 'upload_img' class = 'hidden'>
										<div class = 'upload-title'>
											<p>本地上传</p>
											<span class = 'close'></span>
										</div>
										<div class = 'upload-btn'>
											<input type ='hidden' name = 'max' value = ''>
											<input type ='hidden' name = 'medium' value = ''>
											<input type ='hidden' name = 'mini' value = ''>
											<input type= 'file' name = 'picture' id='picture'>
										</div>
									</div>
									<!-- 图片上传框 -->
									<div id = 'pic-show' class = 'hidden'>
										<img src="" alt = '' />
									</div>
								</li>
							</ul>
							<input type = 'submit' value = '' class = 'send_btn fright' title = '发布微博' />
						</div>
					</form>
				</div>
			</div>

			<!-- 微博发布框 -->
			<div class = 'view_line'>
				<strong>微博</strong>
			</div>

			<!-- 普通微博样式 -->
			<div class = 'weibo'>
				<!-- 头像 -->
				<div class = 'face'>
					<a href="">
						<img src="" width = '50' height = '50'>
					</a>
				</div>
				<div class = 'wb_cons'>

				</div>
			</div>
		</div>
	</div>

	<include file = "Common:bottom" />
</body>
</html>