<include file ="Commom:header" />
	<title>微博首页</title>
	<css file = "__PUBLIC__/Css/nav.css" />
    <css file = "__PUBLIC__/Css/index.css" />
    <css file = "__PUBLIC__/Css/bottom.csxs" />
    <js file = '__PUBLIC__/Js/nav.js' />
    <js file = '__PUBLIC__/Js/index.js' />

</header>

<body>
	<!-- 顶部导航栏 -->
	<include file = "Common:nav" />

	<div style = 'height:60px; opcity:10'></div>
	<div class = 'main'>
		<!-- 左侧边栏 -->
		<include file ="Common:left" />
	</div>

	<include file = "Common:bottom" />
</body>
</html>