<include file ="Common:header" />
	<title>用户设置首页</title>
	<css file = "__PUBLIC__/Uploadify/uploadify.css" />
	<js file = "__PUBLIC__/Uploadify/jquery.uploadify.min.js" />
	<js file = "__PUBLIC__/Js/jquery.validate.min.js" />

	<css file = "__PUBLIC__/Theme/{$style}/Css/edit.css" />
	<js file = '__PUBLIC__/Js/city.js' />
	<js file = '__PUBLIC__/Js/useredit.js' />

    <script type="text/javascript">
    // for useredit.js
    	var constellation = "{$loginuser.constellation}";
    	var thelocation = "{$loginuser.location}";
    	var PUBLIC = "__PUBLIC__";
    	var uploadUrl = "{:U('Common/uploadFace')}";
    	var sid = "{:session_id()}";
    	var ROOT = '__ROOT__';
    	var checkPwd = "{:U('checkPwd')}";
    </script>


</header>

<body>
	<!-- 顶部导航栏 -->
	<include file = "Common:nav" />
	<div style = "height:60px; opcity:10"></div>
	<div class = 'main'>
		<!-- 左侧边栏 -->
		<include file ="Common:left" />
		<div id = 'right'>
			<ul id = 'sel-edit'>
				<li class = 'edit-cur'> 基本信息</li>
				<li>修改头像</li>
				<li>修改密码</li>
			</ul>
			<div class = 'form'>
				<form action ="{:U('Usersetting/editbasic')}" method = 'post'>
					<p>
						<label for='nickname'><span class = 'red'>*</span>昵称：</label>
						<input type = 'text' name = 'nickname' class = 'input' value = "{$loginuser['username']}" class = 'input'>
					</p>
					<p>
						<label for='truename'>真实姓名</label>
						<input type = 'text' name = 'truename' class = 'input' value = "{$loginuser['truename']}" >
					</p>
					<p>
						<label for='sex'><span class = 'red'>*</span>性别</label>
						<if condition = "$loginuser.sex eq 'm'">
							<input type = 'radio' name = 'sex' value = 'm' checked = 'true' >
						<else/>
							<input type = 'radio' name = 'sex' value = 'm' >
						</if>
						 &nbsp;男&nbsp;&nbsp;
						<if condition = "$loginuser.sex eq 'f'">
							<input type = 'radio' name = 'sex' value = 'f' checked = 'true' >
						<else/>
							<input type = 'radio' name = 'sex' value = 'f' >
						</if>
						 &nbsp;女&nbsp;
					</p>
					<p>
						<label>所在地</label>
						<select name = 'province'>
							<option value = ''>请选择</option>
						</select>
						&nbsp;&nbsp;
						<select name = 'city'>
							<option value =''> 请选择</option>
						</select>
					</p>
					<p>
						<label for ='constellation'>星座</label>
						<select name = 'constellation'>
							<option value = ''>请选择</option>
							<option value = "摩羯座">摩羯座</option>
							<option value = "水瓶座">水瓶座</option>
							<option value = "双鱼座">双鱼座</option>
							<option value = "白羊座">白羊座</option>
							<option value = "金牛座">金牛座</option>
							<option value = "双子座">双子座</option>
							<option value = "巨蟹座">巨蟹座</option>
							<option value = "狮子座">狮子座</option>
							<option value = "处女座">处女座</option>
							<option value = "天秤座">天秤座</option>
							<option value = "天蝎座">天蝎座</option>
							<option value = "射手座">射手座</option>
						</select>
					</p>
					<p>
						<label for = 'intro' class = 'intro'>一句话介绍自己</label>
						<textarea name = 'intro' value = '{$loginuser.intro}'></textarea>
					</p>
					<p>
						<input type = 'submit' value = '保存修改' class = 'edit-sub'>
					</p>
				</form>
			</div>

			<div class = 'form hidden'>
				<form action ="{:U('Usersetting/editface')}" method = "post">
					<div class = 'edit-face'>
						<if condition = "$loginuser['face180']">
							<img src="__ROOT__/{$loginuser['face180']}" width = '180' height = '180' id = 'face-image'>
						<else/>
							<img src="__PUBLIC__/Images/noface.gif" width = '180' height = '180' id = 'face-image'>
							<img src="">
						</if>
						<p>
							<input type = 'file' name = 'face' id = 'face'/>
						</p>
						<p>
							<input type = 'hidden' name = 'face180' value = '1'>
							<input type = 'hidden' name = 'face80'  value = '2'>
							<input type = 'hidden' name = 'face50'  value = '3'>
							<input type = 'submit' value = '保存修改' class = 'edit-sub' />
						</p>
					</div>
				</form>
			</div>

			<div class = 'form hidden'>
				<form action = "{:U('editpwd')}" method = "post" name  = 'changepwd'>
					<p class= 'account' > 登录邮箱：<span>admin@admin.com</span></p>
					<p>
						<label for = ""> <span class = "red">*</span> 旧密码</label>
						<input type = 'password' name = 'oldpwd' id = 'oldpwd'>
					</p>
					<p>
						<label for = ""> <span class = 'red'>*</span> 新的密码</label>
						<input type = 'password' name = 'newpwd' id = 'newpwd'>
					</p>
					<p>
						<label for = ""> <span class = 'red'>*</span> 再输入一遍</label>
						<input type = 'password' name = 'newpwd2' id = 'newpwd2'>
					</p>
					<p>
						<input type = 'submit' value ="确认修改" class = 'edit-sub'>
					</p>
				</form>
				
			</div>
		</div>
	</div>

	<include file = "Common:bottom" />
</body>
</html>