<div id = 'bottom'>
	<div class = 'link'>
		<dl>
			<dt>xx 论坛</dt>
			<dd><a href="">a</a></dd>
			<dd><a href="">a</a></dd>
			<dd><a href="">a</a></dd>
		</dl>
		<dl>
			<dt>xx 论坛2</dt>
			<dd><a href="">b</a></dd>
			<dd><a href="">b</a></dd>
			<dd><a href="">b</a></dd>
		</dl>
	</div>

	<div id = 'copy'>
		<div>
			<p>版权所有 ICP 备案</p>
		</div>
	</div>
</div>


<!-- 自定义模板 -->
<div id = 'model' class = 'hidden'>
	<div class = 'model_head'>
		<span class = 'model_text'>个性化设置</span>
		<span class = 'close fright'></span>
	</div>
	<ul>
		<li class  = 'style1'></li>
		<li class  = 'style1'></li>
		<li class  = 'style1'></li>
	</ul>
	<div class = 'model_operat'>
		<span class = 'model_save'>保存</span>
		<span class = 'model_cancel'>取消</span>
	</div>
</div>


<!-- 转发输入框 -->
<div id = 'turn' class = 'hidden'>
	<div class = 'turn_head'>
		<span class = 'turn_text fleft'>转发微博</span>
		<span class = 'close fright'></span>
	</div>
	<div class = 'turn_main'>
		<form method = 'post' action = "{:U('Index/turn')}" name = 'turn'>
			<p></p>
			<div class = 'turn_prompt'>
				你还可以输入<span>140</span> 个字
			</div>
			<textarea name = 'content' sign = 'turn'></textarea>
			<ul>
				<li class = 'phiz fleft' sign='turn'></li>
				<li class = 'turn_comment fleft'>
					<label>
						<input type='checkbox' name='becomment' /> 同时评论给<span class= 'turn_cname'></span>
					</label>
				</li>
				<li class = 'turn_btn fright'>
					<input type = 'hidden' name = 'id' value = '/'>
					<input type = 'hidden' name = 'orgid' value = '' />
					<input type = 'submit' value = '转发' class = 'turn_btn' />
				</li>
			</ul>
		</form>
	</div>
</div>


<!-- 表情选择框 -->
<div id = 'phiz' class = 'hidden'>
	<div>
		<p>常用表情</p>
		<span class = 'close fright'></span>
	</div>
	<ul>
		<li><img src="__PUBLIC__/Images/phiz/hehe.gif" alt='呵呵' title ='呵呵'></li>
		<li><img src="__PUBLIC__/Images/phiz/xixi.gif" alt='嘻嘻' title ='嘻嘻'></li>
		<li><img src="__PUBLIC__/Images/phiz/haha.gif" alt='哈哈' title ='哈哈'></li>
		<li><img src="__PUBLIC__/Images/phiz/keai.gif" alt='可爱' title ='可爱'></li>
		<li><img src="__PUBLIC__/Images/phiz/kelian.gif" alt='可怜' title ='可怜'></li>
		<li><img src="__PUBLIC__/Images/phiz/wabisi.gif" alt='挖鼻屎' title ='挖鼻屎'></li>
		<li><img src="__PUBLIC__/Images/phiz/chijing.gif" alt='吃惊' title ='吃惊'></li>
		<li><img src="__PUBLIC__/Images/phiz/haixiu.gif" alt='害羞' title ='害羞'></li>
		<li><img src="__PUBLIC__/Images/phiz/jiyan.gif" alt='挤眼' title ='挤眼'></li>
		<li><img src="__PUBLIC__/Images/phiz/bizui.gif" alt='闭嘴' title ='闭嘴'></li>
		<li><img src="__PUBLIC__/Images/phiz/bishi.gif" alt='鄙视' title ='鄙视'></li>
		<li><img src="__PUBLIC__/Images/phiz/aini.gif" alt='爱你' title ='爱你'></li>
		<li><img src="__PUBLIC__/Images/phiz/lei.gif" alt='累' title ='类'></li>
		<li><img src="__PUBLIC__/Images/phiz/touxiao.gif" alt='偷笑' title ='偷笑'></li>
		<li><img src="__PUBLIC__/Images/phiz/shengbing.gif" alt='生病' title ='生病'></li>
		<li><img src="__PUBLIC__/Images/phiz/taikaixin.gif" alt='太开心' title ='太开心'></li>
		<li><img src="__PUBLIC__/Images/phiz/qinqin.gif" alt='亲亲' title ='亲亲'></li>
		<li><img src="__PUBLIC__/Images/phiz/landelini.gif" alt='懒得理你' title ='懒得理你'></li>
		<li><img src="__PUBLIC__/Images/phiz/zuohengheng.gif" alt='' title ='左哼哼'></li>
		<li><img src="__PUBLIC__/Images/phiz/youhengheng.gif" alt='右哼哼' title ='右哼哼'></li>
		<li><img src="__PUBLIC__/Images/phiz/xu.gif" alt='嘘' title ='嘘'></li>
		<li><img src="__PUBLIC__/Images/phiz/shuai.gif" alt='衰' title ='衰'></li>
		<li><img src="__PUBLIC__/Images/phiz/weiqu.gif" alt='委屈' title ='委屈'></li>
		<li><img src="__PUBLIC__/Images/phiz/tu.gif" alt='吐' title ='吐'></li>
		<li><img src="__PUBLIC__/Images/phiz/dahaqian.gif" alt='打哈欠' title ='打哈欠'></li>
		<li><img src="__PUBLIC__/Images/phiz/baobao.gif" alt='抱抱' title ='抱抱'></li>
		<li><img src="__PUBLIC__/Images/phiz/nu.gif" alt='怒' title ='怒'></li>
		<li><img src="__PUBLIC__/Images/phiz/yiwen.gif" alt='疑问' title ='疑问'></li>
		<li><img src="__PUBLIC__/Images/phiz/chanzui.gif" alt='馋嘴' title ='馋嘴'></li>
		<li><img src="__PUBLIC__/Images/phiz/baibai.gif" alt='拜拜' title ='拜拜'></li>
		<li><img src="__PUBLIC__/Images/phiz/sikao.gif" alt='思考' title ='思考'></li>
		<li><img src="__PUBLIC__/Images/phiz/han.gif" alt='汗' title ='汗'></li>
		<li><img src="__PUBLIC__/Images/phiz/kun.gif" alt='困' title ='困'></li>
		<li><img src="__PUBLIC__/Images/phiz/shuijiao.gif" alt='睡觉' title ='睡觉'></li>
		<li><img src="__PUBLIC__/Images/phiz/qian.gif" alt='钱' title ='钱'></li>
		<li><img src="__PUBLIC__/Images/phiz/shiwang.gif" alt='失望' title ='失望'></li>
		<li><img src="__PUBLIC__/Images/phiz/ku.gif" alt='哭' title ='哭'></li>
		<li><img src="__PUBLIC__/Images/phiz/huaxin.gif" alt='花心' title ='花心'></li>
		<li><img src="__PUBLIC__/Images/phiz/heng.gif" alt='哼' title ='哼'></li>
		<li><img src="__PUBLIC__/Images/phiz/guzhang.gif" alt='鼓掌' title ='鼓掌'></li>
		<li><img src="__PUBLIC__/Images/phiz/yun.gif" alt='晕' title ='晕'></li>
		<li><img src="__PUBLIC__/Images/phiz/beishang.gif" alt='悲伤' title ='悲伤'></li>
		<li><img src="__PUBLIC__/Images/phiz/zhuakuang.gif" alt='抓狂' title ='抓狂'></li>
		<li><img src="__PUBLIC__/Images/phiz/heixian.gif" alt='黑线' title ='黑线'></li>
		<li><img src="__PUBLIC__/Images/phiz/yinxian.gif" alt='阴险' title ='阴险'></li>
		<li><img src="__PUBLIC__/Images/phiz/numa.gif" alt='怒骂' title ='怒骂'></li>
		<li><img src="__PUBLIC__/Images/phiz/xin.gif" alt='心' title ='心'></li>
		<li><img src="__PUBLIC__/Images/phiz/shangxin.gif" alt='伤心' title ='伤心'></li>

	</ul>
</div>