<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml" xml:lang='en' >
<head>
	<META http-equiv= "Content-Type" content = "text/html; charset=UTF-8">
	<php>
		$where = array('uid'=>session('uid'),);
		$style = M('userinfo')->where($where)->getField('style');
	</php>	
	<css file = "__PUBLIC__/Uploadify/uploadify.css" />
	<css file = "__PUBLIC__/Theme/{$style}/Css/nav.css" />
	<css file = "__PUBLIC__/Theme/{$style}/Css/left.css" />
	<css file = "__PUBLIC__/Theme/{$style}/Css/middle.css" />
	<!-- <css file = "__PUBLIC__/Css/right.css" /> -->
	<css file = "__PUBLIC__/Theme/{$style}/Css/letter.css" />
	<css file = "__PUBLIC__/Theme/{$style}/Css/bottom.css" />

	<js file = "__PUBLIC__/Js/jquery-2.2.3.min.js" />
	<js file = "__PUBLIC__/Js/jquery.validate.min.js" />
	<js file = "__PUBLIC__/Uploadify/jquery.uploadify.min.js" />
	<js file = '__PUBLIC__/Js/nav.js' />
	<js file = '__PUBLIC__/Js/left.js' />

	<script type="text/javascript">
    	var PUBLIC = '__PUBLIC__';
    	var uploadUrl = "{:U('Common/uploadPic')}";
    	var sid = "{:session_id()}";
    	var ROOT = "__ROOT__";
       	var getComment = "{:U('Index/getComment')}";
    	var postCommentUrl = "{:U('Index/postComment')}";
    	var keepUrl = "{:U('Index/keep')}";
    	var delWeiboUrl = "{:U('Index/delWeibo')}";
    	var cancelUrl = "{:U('Index/cancel')}";
    	var delLetterUrl = "{:U('Index/delLetter')}";
    	var delCommentUrl = "{:U('Index/delComment')}";
    	var editStyleUrl = "{:U('Common/editStyle')}";
    </script>
