<div id = 'left' class = 'fleft'>
	<ul class = 'left_nav'>
		<li><a href="__APP__"><i class = 'icon icon-home'></i>&nbsp;首页</a></li>
		<li><a href=""><i></i>提到我的</a></li>
		<li><a href=""><i></i>评论</a></li>
		<li><a href="{:U('User/letterlist')}"><i></i>私信</a></li>
		<li><a href="{:U('User/keeplist')}"><i></i>收藏</a></li>
	</ul>
	<div class = 'group'>
		<fieldset><legend>分组</legend></fieldset>
		<ul>
			<?php
				$groups = M('group')->where(array('uid'=>session('uid')))->select();
			?>
			<li><a href = "{:U(Index/idnex)}"> <i class = 'icon icon-group'></i>&nbsp;全部</a></li>
			<foreach  name = 'groups' item = 'v'>
				<li><a href="{:U('Index/index', array('gid'=>$v['id']))}">
					<i class = 'icon icon-group'></i>&nbsp;{$v['name']}</a>
				</li>
			</foreach>
		</ul>
		<span id = 'create_group'>创建新的分组</span>
	</div>
</div>

<!-- 创建新的分组弹出对话框 -->
<script type="text/javascript">
	var addGroupUrl = "{:U('Common/addGroup')}";
</script>
<div id = 'add-group'>
	<div class = 'group_head'>
		<span class = 'group_text fleft'> 创建好友分组</span>
	</div>
	<div class = 'group-name'>
		<span>分组名称</span>
		<input type = 'text' name = 'name' id= 'gp-name'>
	</div>
	<div class = 'gp-btn-wrap'>
		<span class = 'add-group-sub'>添加</span>
		<span class = 'group-cancel'>取消</span>
	</div>
</div>